<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.declangao.wordpressreader" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="me.declangao.wordpressreader.app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/WordPressReader"
        android:hardwareAccelerated="true" >
        <activity
            android:name=".app.MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.ArticleActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_article" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".app.MainActivity" />
        </activity>
        <activity
            android:name=".app.CommentActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_comment" >
        </activity>
    </application>

</manifest>
